h1 {
	text-align: center;
	font-family: cursive;
}

#clear
{
border-radius: 5px;
text-decoration: italic;
}

.grayBox
{
 border-radius: 10px;
background-color: #D7D1CD; 
border-style: inset;
}


#instructions {
margin: 10px;
width:30%;
padding: 5px;
}

#goalNumberBox{
font-size: 400%;
width: 10%;
margin: 10px;
padding: 50px;
}

#playerNumberBox{
font-size: 400%;
width: 10%;	
margin: 10px;
padding: 50px;
}

button {
  cursor: pointer;
}

#gems img:hover{
width: 120px;
height: 120px;
}

#gems img{
	width:100px;
	height:100px;
  cursor: url('../images/cursor2.cur'), auto;
}

@media only screen and (min-width: 1700px){

body
{
  margin-left: 200px;
}
}

@media only screen and (max-width: 500px) {

  #gems img{
  	width: 75px;
  	height: 75px;
    cursor: url('../images/cursor2.cur'), auto;
  }

  #gems img:hover{
width: 100px;
height: 100px;
}

  #instructions {
  	width: 60%;
  }

#playerNumberBox, #goalNumberBox{
width: 20%;
}



  
}

@media only screen and (max-width: 350px) {

  #gems img{
  	width: 60px;
  	height: 60px;
    cursor: url('../images/cursor2.cur'), auto;
  }

   #gems img:hover{
width: 75px;
height: 75px;
}

  
}

#winLossBox
{
	padding: 5px;
	width: 75px;

}

body{
	background-color: hsl(0, 50%, 50%);
}
